* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
    color: inherit;
    font-family:Arial, Helvetica, sans-serif;
}
html,
body {
    height: 100%;
    width: 100%;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #000;
    color: white;
}
button,
input {
    border: none;
    outline: none;
}

.container {
    width: 50%;
    background-color: #333;
    padding: 1rem;
    border-radius: 10px;
}
.container h1 {
    font-size: 2rem;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 1.5rem;
}
.container p {
    margin: 1rem 0;
}
.user-input {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 1rem;
}
.user-input input {
    font-size: 1rem;
    padding: .76rem .5rem;
    width: 100%;
    border-radius: 5px;
    color: #000;
}

.btn {
    width: 100%;
    padding: .76rem .5rem;
    background-color: #45A049;
    font-size: 1.2rem;
    cursor: pointer;
}

.total {
    font-size: 1.5rem;
    font-weight: bolder;
}